{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block titre %}SeriesChrono{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block scripts_head %}{% endblock %}
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">


    {% include "partials/navbar.html" %}
    <div style="flex: 1 0 auto;">
        {% block contenu %}{% endblock %}
    </div>

    <div style="flex-shrink: 0;">
        {% include "partials/footer.html" with year=2026 %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>